body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(49, 34, 7);
    background-color: antiquewhite;
    line-height: 1.8;
    background-image: linear-gradient(90deg, rgba(222, 178, 130, 0.5), rgb(143, 113, 83));
}

p {
    font-size: 18px;
    font-weight: 550;
}

em,
strong {
    background-image: nothing;
}
h1 {
    color: #43361f;
    
}